* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 20px;
    width: 100%;
    height: 65px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: -13px 0px;
    cursor: pointer;
}

#logo-menu img {
    cursor: pointer;
}


#Home,
#About,
#Account {
    display: flex;
    font-family: "Baumans", system-ui;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

#Home i,
#About i,
#Account i {
    margin-top: 3px;
    margin-right: 5px;
}

#Account #arrow-down {
    margin-right: 0px;
}

#logout {
    display: none;
    position: absolute;
    top: 30px;
    left: 15px;
    z-index: 10;
    text-decoration: none;
    transition: all 0.3s;
    background-color: #fff;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 10px;
}

#logout a {
    text-decoration: none;
    color: #e44e3f;
    font-family: "Baumans", system-ui;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
#Order{
    width: 100vw;
    height: 100vh;
}

#Order_confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #27a760;
    gap: 10px;
    padding: 10px 10px;
}
#Order_confirm img{
    margin-top: 60px;
}

#text {
    font-weight: 30px;
    color: white;
    font-family: "Barlow", system-ui;

}

#bill {
    width: 40%;
    height: 35vh;
    background-color: rgb(221, 57, 57);
    padding: 10px 10px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#O{
    font-size: 20px;
    font-family: "Arial", system-ui;
    color: #cecece;
}
#Or{
    font-size: 20px;
    font-family: "Arial", system-ui;
    color: #cecece;
}
#T{
    font-size: 25px;
    font-family: "Arial", system-ui;
    /* color: #E44E3F; */
    color: white;

}
.footer_container{
    font-family: Nunito Sans, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    background-color: rgb(17, 17, 17);
    color: rgb(112, 112, 112);
    letter-spacing: 2px;
    width: 100%;
    font-size: 0.8rem;
}


/* Media Queries */
@media only screen and (max-width: 1200px) {
    header {
        padding: 0 20px;
    }

}